fastapi
uvicorn[standard]

SQLAlchemy
asyncpg

python-jose
argon2-cffi
passlib[argon2]

pydantic
pydantic[email]
pydantic-settings

alembic
python-multipart
ruff
pytest
pytest-asyncio==0.23.8
pytest-cov
httpx