fastapi
uvicorn[standard]
SQLAlchemy
asyncpg
python-jose
argon2-cffi
passlib[argon2]
pydantic
pydantic[email]
pydantic-settings
alembic
python-multipart

pytest
pytest-anyio
anyio
pytest-cov
httpx